/* Global Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure {
  margin: 0;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
  }


img,
picture {
max-width: 100%;
display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}