:root {
    /* colors */
    --js-primary-color: rgb(240, 219, 79);
    --js-dark-shade: rgb(50, 51, 48);
    --js-light-shade: rgb(244, 244, 244);
    --correct-color: rgb(61, 163, 93);
    --wrong-color: #DF2935;
    --hover-color: rgb(230, 230, 230);;

    /* fonts */
    font-size: 62.5%;
}


h1 {
    color: var(--js-dark-shade);
    font-size: 3.4rem;
}

h2 {
    color: var(--js-dark-shade);
    font-size: 2.4rem;
}

h3 {
    color: var(--js-dark-shade);
    font-size: 2.0rem;
}

p, 
button,
a,
span,
input {
    color: var(--js-dark-shade);
    font-size: 1.6rem;
}


.flex {
    display: flex;
}
.grid {
    display: grid;
}

.hide {
    display: none;
}

.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--js-light-shade);
}


/* Header */
.header {
    width: 100%;
    padding: 1rem;
}

.header__content {
    margin: 0 auto;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.header__scoreboard {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

/* User Score */
.user-score {
    width: 7rem;
    text-align: center;
}

/* Timer Icon */
.timer {
    text-align: left;
    width: 10rem;
    text-align: left;
    padding-left: 3rem;
}

.fa-clock::before {
    content: '\f017';
    font: var(--fa-font-solid);
    margin-right: 0.25rem;
}


/* Quiz */
.quiz {
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.quiz-box {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
    width: 90%;
    max-width: 700px;
    height: 100%;
    background-color: var(--js-primary-color);
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
}


#question-number {
    font-size: 2.4rem;
}

.quiz-box__content {
    max-width: 600px;
}

.quiz-box__content > * {
    padding-bottom: 1rem;
}

.start-button,
.answer-button,
#next-button,
.time-up button {
    margin: 0 auto;
    width: 100%;
    max-width: 30rem;
    height: 7rem;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    background-color: white;
}

#next-button {
    width: 50%;
    height: 4rem;
    background-color: white;
}




.quiz-box__button:hover {
    background-color: var(--hover-color);
}

/* Question */
.quiz-box__questions {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.question {
    margin: 0 auto;
    width: 90%;
    padding-bottom: 1rem;
}

.question h2 {
    border-bottom: 2px solid var(--js-dark-shade);
    margin-bottom: 1rem;
}

/* Answers */
.answers {
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 90%;
    gap: 1rem;
    height: auto;
}

.answer-button {
    padding: 1rem;
    transition-duration: 150ms;
}


.answer-button.correct,
.answer-button.correct:active, 
.answer-button.correct:hover {
    background-color: var(--correct-color);
}

.answer-button.wrong,
.answer-button.wrong:active, 
.answer-button.wrong:hover {
    background-color: var(--wrong-color);
}

.answer-button:hover,
#next-button:hover,
.start-button:hover,
.time-up button:hover {
    cursor: pointer;
}

#message {
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
}

#message > * {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
}

/* time is up */

.time-up {
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
    background-color: var(--js-primary-color);
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
    padding: 1rem;
    align-items: center;
    height: 400px;
}

.time-up__contents {
    margin: 0 auto;
    width: 90%;
    flex-direction: column;
    align-items: center;
}

.time-up__contents h2 {
    font-size: 4rem;
}

.time-up__score-message,
#points-scored {
    font-size: 2.4rem;
    font-weight: bold;
}

.time-up__contents > * {
    padding-bottom: 1rem;
}

 .time-up__contents #name {
    margin-bottom: 2rem;
}



.time-up input {
    margin: 0 auto;
    width: 50%;
    display: block;
    outline: none;
    border: none;
    background: none;
    border-bottom: 2px solid var(--js-dark-shade);
}

.time-up button {
    margin: 0 auto;
    display: block;
    font-weight: bold;
    background-color:white;
}

.time-up button:hover {
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
}

.time-up button:active {
    transform: none;
    box-shadow: none;
}




/* Footer */
.footer {
    width: 100%;
    height: 5rem;
}

.footer__content {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 100%;
}

.footer__content span {
    padding: 1rem;
}






/* Media Queries */

@media only screen and (min-width: 768px) {
    .answers {
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }

    .time-up {
        height: 500px;
    }
}



 











